@model List<Produto>
@{
    ViewData["Title"] = "Lista de Produtos";
}

<h2 class="mb-4">Lista de Produtos</h2>

<a href="@Url.Action("Create")" class="btn btn-primary mb-3">
    <i class="bi bi-plus-circle"></i> Novo Produto
</a>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Imagem</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Código</th>
            <th>Ações</th>
        </tr>
    </thead>
<tbody>
    
    @if(Model.Count() > 0)
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Imagem != null)
                    {
                        <img src="@Url.Action("Imagem", new { id = item.Id })" width="60" class="img-thumbnail" />
                    }
                </td>
                    <td>@item.Nome</td>
                    <td>@item.Categoria.Descricao</td>
                    <td>@item.Preco?.ToString("C")</td>
                    <td>@item.Quantidade</td>
                    <td>@item.Codigo</td>
                 <td>
                    <a href="@Url.Action("Details", new { id = item.Id })"class="btn btn-sm btn-info me-1">
                        <i class="bi bi-eye"></i>
                    </a>
                    <a href="@Url.Action("Edit", new { id = item.Id })"class="btn btn-sm btn-warning me-1">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a href="@Url.Action("Delete", new { id = item.Id })"class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                 </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="6" class="text-center">Não existem registros</td>
        </tr>
    }
</tbody>
</table>